@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,100&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:ital,wght@0,900;1,100&family=Staatliches&display=swap');

body {
    background: url('https://www.dropbox.com/s/oil2v3gozo9lyvn/IMG_1339%202.jpg?raw=1') no-repeat;
    background-size: 100%;
    margin: 0;
    background-attachment: fixed;
}

  #navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(211,185,126,0.8);
  }

  #navlinks {
      font-family: 'Staatliches', cursive;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      color: white;
      margin-top: 0.5%;
      font-size: 1.5em;
  }

  li:hover {
      letter-spacing: 0.1em;
  }

  #bus-info {
      padding-top: 3em;
  }

  #business-name {
      font-family: 'Staatliches', cursive;
      text-align: center;
      color: white;
      font-size: 9em;
  }

  #est-date {
      font-family: 'Staatliches', cursive;
      text-align: center;
      color: white;
      margin-top: -8%;
      font-size: 2em;
  }

  #call-now {
      font-family: 'Staatliches', cursive;
      text-align: center;
      color: white;
      font-size: 3.5em;
      padding-bottom: 5em;
  }

  #footer {
      bottom: 0%;
      width: 100%;
      background-color: rgba(211,185,126,0.35);
  }

  #style-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Montserrat', sans-serif;
      color: white;
      padding-top: 0.25em;
      padding-bottom: 0.5em;
      font-size: 1.2em;
  }

  #location {
      padding-left: 2em;
  }
 
  #copyright {
      padding-right: 2em;
      padding-top: 2.50em;
  }

  /* about page styles */

 #about-div {
     font-family: Montserrat, sans-serif;
     color: white;
     /* border: solid white; */
     width: 30%;
     margin: -55% 65% 30%;
     text-align: right;
     padding: 15;
 } 

 #about-h {
     font-size: 3em;
 }

 #about-text {
     font-size: 1.2em;
 } 
 
img,figure {
    width: 10em;
    border-radius: 50%;
} 

img:hover {
    transform: scale(2.5);
}

#img-gallery {
    /* width: 50em; */
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;

}

  /* MEDIA QUERIES */

  @media screen and (max-width: 768px) {styles}

