@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,100&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Roboto:ital,wght@0,900;1,100&family=Staatliches&display=swap');

body {
    background: url('https://www.dropbox.com/s/oil2v3gozo9lyvn/IMG_1339%202.jpg?raw=1') no-repeat;
    background-size: cover;
    margin: 0;
    background-attachment: fixed;
}

  .navbar {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(211,185,126,0.8);
  }

  .navlinks {
      font-family: 'Staatliches', cursive;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      color: white;
      margin-top: 0.5%;
      font-size: 1.5em;
  }

  li:hover {
      letter-spacing: 0.1em;
  }

  .bus-info {
      padding-top: 3em;
  }

  .business-name {
      font-family: 'Staatliches', cursive;
      text-align: center;
      color: white;
      font-size: 9em;
      letter-spacing: 0.25em;
  }

  .est-date {
      font-family: 'Staatliches', cursive;
      text-align: center;
      color: white;
      margin-top: -8%;
      font-size: 2em;
      letter-spacing: 0.25em;
  }

  .call-now {
      font-family: 'Staatliches', cursive;
      text-align: center;
      color: white;
      font-size: 3.5em;
      padding-bottom: 5em;
  }

  .footer {
      bottom: 0%;
      width: 100%;
      background-color: rgba(160, 217, 211, 0.45);
  }

  .style-footer{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Montserrat', sans-serif;
      color: white;
      padding-top: 0.25em;
      padding-bottom: 0.5em;
      font-size: 1.2em;
  }

  .location {
      padding-left: 2em;
  }
 
  .copyright {
      padding-right: 2em;
      padding-top: 2.50em;
  }

  /* about page styles */

  .about-div {
     font-family: Montserrat, sans-serif;
     color: white;
     width: 30%;
     margin: -55% 65% 30%;
     text-align: right;
     padding: 15;
  } 

  .about-h {
     font-size: 3em;
  }

  .about-text {
     font-size: 1.2em;
  } 
 
 img,figure {
    width: 10em;
    border-radius: 50%;
 } 

 img:hover {
    transform: scale(2.5);
 }

 .img-gallery {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
 }

/* contact page styles */

 .contact-form {
    text-align: center;
    margin-top: -15em;
    margin-bottom: 10em;
 }

 input {
    width: 40%;
    border: none;
    background-color: rgb(160, 217, 211);
 }

 .name {
    height: 2.5em;
 }

 .email {
    height: 2.5em;
 }

 .subject {
    height: 2.5em;
 }

 .message {
    height: 13em;
 }

 .submit {
    height: 2.5em;
    background-color: gray;   
 }

 .google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }

  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

/* services page styles */

 .services-list {
    font-family: 'Staatliches', cursive;
    color: white; 
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 10em;
    margin-top: -12em;
    margin-bottom: 10em;
 }

 .services-header {
    font-size: 5em;
 } 

 .cut-serv {
    font-size: 2.5em;
 }

 .color-serv {
    font-size: 2.5em;
 }

 .other-serv {
    font-size: 2.5em;
 }

 .serv-li {
    font-family: Montserrat, sans-serif;
    font-size: 1.75em;
    list-style-type: none;
 }

 .scheduler-placeholder {
    border: solid white;
    width: 40%;
    height: 25em;
    margin: -60.5em 0 30em 5em;
    background-color: white;
 }

 .sched-text {
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    text-align: center;
 }

 .policies-div {
    border: solid white;
    width: 40%;
    height: 20em;
    margin: -25em 0 10em 5em;
    background-color: white;
 }

 .policies-header {
    font-family: 'Staatliches', cursive;
    font-size: 2em;
    color: rgb(160, 217, 211);
    text-align: left;
    margin-left: 1em;
 }

 .policies-text {
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(160, 217, 211);
 }
  /* MEDIA QUERIES */

  @media screen and (min-width: 601px) and (max-width: 962px) {

    .business-name {
        font-size: 4.5em;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }  
  
     .footer {
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         
     }

     .location {
         margin-left: 1em;
         margin-right: 2em;
     }

     .copyright {
         margin-left: 4em;

     }

     /*about page*/

     img, figure {
         width: 12em;
     }
     .img-gallery {
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         width: 90%;
         margin-left: 2.3em;
     }

     .about-div {
         margin: 3em;
         text-align: center;
         width: 90%;  
     }
}

  @media screen and (min-width: 490px) and (max-width: 600px) {

    body {
        background-position: center;
    }

    .navlinks {
        margin-left: -1.75em;
    }

    .business-name {
        font-size: 4em;
    }

    .est-date {
        font-size: 1.5em;
    }

    .call-now {
        font-size: 2em;
    }

    .style-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .location {
        margin-left: -4.75em;
        margin-bottom: 1em;
    }

    .copyright {
        margin-left: 1.5em;
    }
    /* about pg */

    /*.img-gallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 60em;
    }

    .about-div {
        margin: 2em;
        width: 90%;
        text-align: center;
        margin-left: 1em;
        margin-left: 1em;
    }*/

    /* services pg */

    .policies-div {
        width: 90%;
        margin: 1em;
    }

    .scheduler-placeholder {
        width: 90%;
        margin: 1em;
    }

    .services-list {
        width: 90%;
        text-align: center;
        margin-left: 1em;
        margin-bottom: 2em;
    }

    .services-header {
        font-size: 4em;
        margin-bottom: -0.5em;
    }

    .serv-li {
        margin-left: -1.5em;
    }

    /* contact pg */

    .contact-form {
        padding-top: 5em;
    }

    .contact-form input {
        width: 80%;
    }

    .map {
        margin-top: -5em;
        width: 100%;
    }

}
 
@media  screen and (max-width: 489px) {

    body {
        background-position: center;
    }

    .business-name {
        font-size: 3em;
        margin-top: 1.5em;
    }

    .call-now {
        font-size: 2.25em;
    }

    .style-footer {
        display: flex;
        flex-direction: column;
        margin-left: 3em;
    }

    .location {
        margin-left: -2em; 
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .copyright {
        margin-bottom: 1em;
    }

    /*about page*/

    img, figure {
        width: 7em;
    }

    .img-gallery {
        width: 90%;
        height: 50em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: -7em;
        margin-left: -1.75em;
    }

    .about-div {
        padding-top: 5em;
        padding-right: 2em;
        width: 90%;
        text-align: center;
        margin-left: 2em;
      
  } 
  


    