body {
    /* background-color: black; */
    margin: 0;
}

 .center {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-attachment: fixed;
  }

  .navbar {
      position: fixed;
      top: 0;
      width: 100%;
  }

  .navlinks {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      color: rgb(147, 120, 71);
      margin-top: 5%;
  }

  .business-name {
      text-align: center;
      color: rgb(147, 120, 71);
      font-size: 130px;
  }
